* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Luckiest Guy', cursive;
    justify-content: center;
    align-items: center;
    color: white;
}

.main {
    height: 800px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border: 5px solid black;
}

.border {
    border: 1px solid red;
}

h1 {
    text-align: center;
    margin: 15px;
    font-size: 55px;
}


.choices {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 15px 50px;
}

.choices img {
    height: 200px;
    width: 200px;
}

.choices img:hover {
    transform: scale(1.1);
}


.results {
    font-size: 25px;
    align-self: center;
    text-align: center;
    padding: 15px 30px;
    height: 30px;
    width: 500px;
    margin-bottom: 25px;
}

.trackers {
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-bottom: 15px;
}

.winner {
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

#restart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: grey;
    height: 50px;
    padding-top: 8px;
    width: 200px;
    align-self: center;
    border-radius: 5px;
}

#restart:hover {
    background-color: orange;
}
